body {
  background-image: url("../img/BG-Image.jpg");
  background-position: top right 25%;
}

/*Search bar*/
.search {
  margin-top: 3%;
  margin-left: 21%;
  margin-bottom: -3%;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
}

/*Search button*/
.searchBtn {
  padding: 10px;
  background: #FFD100;
  border-radius: 5px;
  border-width: 1px;
}
  
/*Main div*/
.main {
  width: 80%; 
  float:left; 
  height:275px;  
  margin-top: 2%; 
  margin-left: 10%;
  background-color: rgba(255,255,255,0.6);
} 

.primary {
  float: left;
  padding: 2%;
  margin-left: 7%;
}

.primary p {
  margin-top: -2%;
  margin-left: 27px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.secundary {
  float: left;
  margin-left: 24%;
}

#cityName {
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 40px; 
  margin-top: 20%;
}

#hour {
  float:left;
  margin-top: 20%;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: larger; 
  margin-top: 20%;
}

/*Other Conditions div*/
.tertiary {
  float: left;
  width: 60%;
  height: 100px;
  margin-left: 15%;
  margin-top: 2%;
}

.minMaxTemperature {
  float: left;
}

.otherConditions {
  float: left;
  margin-left: 15%;
}

/*Forecast div*/
.forecast {
  float:left;
  width: 80%;  
  height:225px; 
  background:rgba(255,255,255,0.6); 
  margin-top: 1%; 
  margin-left: 10%;
}

.day {
  float:left; 
  width: 10%; 
  height:200px;
  margin-top: 1%; 
  margin-left: 5%;
}

#div1 {
  margin-left: 25%;
}

.day p {
  margin-left: 13%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: large;
}

